streamlit==1.32.0 #For the web app
pandas==2.2.1 #For handling Excel data
openpyxl==3.1.2 #For working with .xlsx files
numpy==1.26.4 #Helps with data processing
python-dotenv==1.0.1 #To store environment variables
